@model Domain.Venda

@{
    ViewData["Title"] = "Create";
}

<h4>Vendas</h4>
<hr />
<div class="col-md-4">
    <table>
        <tr>
            <td>
                <form id="frmVenda">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <div id="Cliente" class="form-group">
                            <label>Cliente:</label>
                            <select asp-items="@ViewBag.Clientes" asp-for="idCliente" class="form-control">
                                <option selected disabled> --- SELECIONE ---</option>
                            </select>
                        </div>
                        <div id="Funcionario" class="form-group">
                            <label>Funcionario:</label>
                            <select asp-items="@ViewBag.Funcionarios" asp-for="idFuncionario" class="form-control">
                                <option selected disabled> --- SELECIONE ---</option>
                            </select>
                        </div>
                        <div id="Produto" class="form-group">
                            <label>Produto:</label>
                            <select asp-items="@ViewBag.Produtos" asp-for="Produtos" class="form-control">
                                <option selected disabled> --- SELECIONE ---</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="Produtos.Quantidade"></label>
                            <input type="text" asp-for="Produtos.Quantidade" class="form-control" />
                            <span asp-validation-for="
                                  Produtos.Quantidade"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Produtos.Preco"></label>
                            <input type="text" asp-for="Produtos.Preco" class="form-control" />
                            <span asp-validation-for="Produtos.Preco"></span>
                        </div>
                        <div class="form-group">
                            <input type="button" id="btnAddItem" value="Adicionar item" class="btn btn-primary" />
                        </div>

                        <div class="form-group">
                            <input type="submit" asp-controller="Venda" asp-action="Create" id="btnFinalizarVenda" value="Finalizar compra" class="btn btn-primary" />
                        </div>
                    </div>

                </form>
            </td>
            <div>
                <table class="table">
                    <h4>Produtos dessa compra</h4>
                    <thead>
                        <tr>
                            <th scope="col">Produto</th>
                            <th scope="col">Quantidade</th>
                            <th scope="col">Preço</th>
                        </tr>
                    </thead>
                    <tbody id="tblItensBody">
                    </tbody>

                </table>
            </div>
</div>


<div>
    <a asp-action="Index">Voltar</a>
</div>



